@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
  background-image: url('../../assets/retro.jpg');
  font-family: 'Audiowide', cursive;
  color: yellow;
}

img {
  max-width: 15%;
  border-radius: 50%;
  margin: 100px auto;
  border: 2px solid yellow;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-style: italic;
  margin: 0 auto;
  margin-top: 1em;
}


.toggleBlink {
  animation: blinker 1s linear infinite;

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}



// .circle-container {
//   position: relative;
//   width: 24em;
//   height: 24em;
//   padding: 2.8em;
//   border: dashed 1px;
//   border-radius: 50%;
//   margin: 1.75em auto 0;
// }

// .circle-container a {
//   display: block;
//   position: absolute;
//   top: 50%; left: 50%;
//   width: 4em; 
//   height: 4em;
//   margin: -2em;
// }
// .circle-container img { 
//   display: block; 
//   width: 100%; 
// }

// .deg0 { 
//   transform: translate(12em); 
// } 

// .deg45 { 
//   transform: rotate(45deg) translate(12em) rotate(-45deg); 
// }
// .deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
// .deg180 { transform: translate(-12em); }
// .deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
// .deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }