@import url('https://fonts.googleapis.com/css?family=Audiowide');

body {
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
      animation: fadein 2s;

      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
  // background-image: url('../../assets/retro.jpg');
  font-family: 'Audiowide', cursive;
  color: black;
  background-color: white;
}

img {
  max-width: 70%;
  margin: 100px auto;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin: 0 auto;
  margin-top: 1em;
}


.toggleBlink {
  animation: blinker 1s linear infinite;

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

footer {
  width: 100%;
  padding: 2em;
  clear: both;
}

footer h3 {
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
  bottom: 0;
}

@media only screen and (min-width: 640px) {
  body {
    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
      -o-animation: fadein 2s; 
        animation: fadein 2s;

        @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }
    // background-image: url('../../assets/retro.jpg');
    font-family: 'Audiowide', cursive;
    color: black;
    background-color: white;
  }

  img {
    max-width: 15%;
    border-radius: 50%;
    margin: 100px auto;
  }

  h1 {
    text-align: center;
    font-size: 5em;
    font-style: italic;
    margin: 0 auto;
    margin-top: 1em;
  }


  .toggleBlink {
    animation: blinker 1s linear infinite;

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }

  footer {
    width: 100%;
    padding: 2em;
    clear: both;
  }

  footer h3 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

  footer a {
    text-decoration: none;
    color: black;
    position: fixed;
    bottom: 0;
  }
}


