@import 'vars';

body {
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
      animation: fadein 2s;

      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

}

img {
  max-width: 70%;
  margin: 100px auto;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-style: italic;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.toggleBlink {
  animation: blinker 1s linear infinite;

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

footer {
  width: 100%;
  clear: both;

}

footer h3 {
  width: 100%;
  text-decoration: none;
  color: white;
  margin-top: 3em;
  text-align: center;
}

@media only screen and (min-width: 640px) {
  html, body {
    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
      -o-animation: fadein 2s; 
        animation: fadein 2s;

        @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }
    color: black;
    background-color: white;
  }

  div {
    height: auto;
  }

  img {
    max-width: 15%;
    // border-radius: 50%;
    margin: 100px auto;
  }

  h1 {
    text-align: center;
    font-size: 5em;
    font-style: italic;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 0.1em;
    color: black;

    text-shadow: 0 0 50px #FFFFFF;
  }


  .toggleBlink {
    animation: blinker 1s linear infinite;

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }

  footer {
    width: 100%;
    margin-top: 3em;
    clear: both;
    padding: 3em;
  }

  footer h3 {
    width: 100%;
    text-align: center;
    color: white;
  }
}

#yin {
  display: flex;
  align-items: center;
  width: 40vmin; 
  height: 40vmin;
  border-radius: 50%;
  background: linear-gradient(black 50%, rgb(205, 149, 149) 0);
  margin: 0 auto;
}  

#yin:before, #yin:after {
  flex: 1;
  border: solid 40vmin/6 rgb(205, 149, 149);

  height: 50%;
  box-sizing: border-box;
  border-radius: 50%;
  background: black;
  content: '';

  transform-origin: 0 50%;
  transform: scale(.5);
  animation: s 1s ease-in-out infinite alternate;
}
  
#yin:after {
  border-color: black;
  background: rgb(205, 149, 149);

  transform-origin: 100% 50%;
  animation-delay: -1s;
}

@keyframes s { to { 
  transform: scale(2 - .5);
} }




