@import 'vars';
// @import url('https://fonts.googleapis.com/css?family=Audiowide');
// @import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto');

body {
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
      animation: fadein 2s;

      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
  // background-image: url('../../assets/retro.jpg');
  // font-family: 'Audiowide', cursive;
  // font-family: 'Comfortaa', cursive;
  font-family: $font-main;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img {
  max-width: 70%;
  margin: 100px auto;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  margin: 0 auto;
  margin-top: 1em;
}


.toggleBlink {
  animation: blinker 1s linear infinite;

  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
}

footer {
  width: 100%;
  padding: 2em;
  clear: both;
}

footer h3 {
  width: 100%;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
  bottom: 0;
}

@media only screen and (min-width: 640px) {
  body {
    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
      -o-animation: fadein 2s; 
        animation: fadein 2s;

        @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }
    color: black;
    background-color: white;
  }

  img {
    max-width: 15%;
    border-radius: 50%;
    margin: 100px auto;
  }

  h1 {
    text-align: center;
    font-size: 5em;
    font-style: italic;
    margin: 0 auto;
    margin-top: 1em;
  }


  .toggleBlink {
    animation: blinker 1s linear infinite;

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }

  footer {
    width: 100%;
    padding: 2em;
    clear: both;
  }

  footer h3 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

  footer a {
    text-decoration: none;
    color: black;
    position: fixed;
    bottom: 0;
  }
}

#yin {
  display: flex;
  align-items: center;
  width: 40vmin; 
  height: 40vmin;
  border-radius: 50%;
  background: linear-gradient(black 50%, rgb(205, 149, 149) 0);
  margin: 0 auto;
}  

#yin:before, #yin:after {
  flex: 1;
  border: solid 40vmin/6 rgb(205, 149, 149);
  height: 50%;
  box-sizing: border-box;
  border-radius: 50%;
  background: black;
  content: '';

  transform-origin: 0 50%;
  transform: scale(.5);
  animation: s 1s ease-in-out infinite alternate;
}
  
#yin:after {
  border-color: black;
  background: rgb(205, 149, 149);

  transform-origin: 100% 50%;
  animation-delay: -1s;
}

@keyframes s { to { transform: scale(2 - .5) } }




