nav {
  width: 100%;
  height: 5em;
  padding-top: 1.6em;
  margin-bottom: 10px;
  text-align: center;
}

nav li {
  width: 15%;
  display: inline-block;
}

li .nav {
  text-decoration: none;
  // color: yellow;
  color: black;
  font-size: 2em;

  &:hover {
    color: rgb(240, 151, 17);
    text-shadow: 0 0 4px #FFFFFF;
  }

  &:active {
    transform: translateY(1px);
  }
}