html {
  position: relative;
  height: 100%;
  head, link, script {
    display: none;
    text-decoration: none;
  }

  body {
    position: relative;
    width: 100%;
    height: 100%;
    // height: auto;
    // background-image: url('../assets/cclogo.png');
  }

  span, em, strong, i {
    display: inline;
  }

}
