@import '../component/landing/_landing.scss';

html {
  position: relative;
  head, link, script {
    display: none;
    text-decoration: none;
  }

  body {
    position: relative;
    // background-color: $color-primary;
    // color: #FF6037;
    background-size: 50%;
  }

  span, em, strong, i {
    display: inline;
  }
}