@import '../component/landing/_landing.scss';

html {
  position: relative;
  head, link, script {
    display: none;
    text-decoration: none;
  }

  body {
    position: relative;
    width: 100%;
    height: 100%;
  }

  span, em, strong, i {
    display: inline;
  }
}