@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto');

$font-main: 'Comfortaa', cursive;
$font-secondary: 'Helvetica';
$color-primary: black;
$color-secondary: darkSlateGray;
$color-tertiary: rgb(252, 73, 106);
$pad: 0.5em;