body {
  text-align: center;
}

hr { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
  margin: 20px 0px;
}

#about {
  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
   -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
       animation: fadein 2s;

       @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

  font-size: 25px;  
  font-family: Baskerville;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(58, 143, 169);
  padding: 5em;
  margin: 0 auto;
}

#skills {

  // ul {
  //   display: flex;
  //   flex-direction: row;
  //   align-content: center;
  // }

  ul {
    width: 100%;
    margin: 0 auto;
  }

  a:nth-child(even) {
  float: left;
  width: 100px;
  font-size: 20px;
  margin-bottom: 20px;
  color: cornsilk;
  background-color: darkSlateGray;
  padding: 5em 0;
  text-align: center;
  transform: rotate(45deg);
  
    &:hover {
      color: white;
      -webkit-animation: fadein 2s; 
      -moz-animation: fadein 2s; 
        -ms-animation: fadein 2s; 
        -o-animation: fadein 2s; 
            animation: fadein 2s;
      transform: rotate(0deg);
    }
  }
    
  a:nth-child(odd) {
    float: left;
    width: 100px;
    font-size: 20px;
    margin-bottom: 20px;
    color: cornsilk;
    background-color: rgb(232, 152, 12);
    padding: 5em 0;
    text-align: center;
    transform: rotate(45deg);      
      
      &:hover {
        color: white;
        -webkit-animation: fadein 2s; 
        -moz-animation: fadein 2s; 
          -ms-animation: fadein 2s; 
          -o-animation: fadein 2s; 
              animation: fadein 2s;
        transform: rotate(0deg);
    }
  }
}