.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  img {
    max-width: 70%;
    border-radius: 0;
    border: none;
    box-shadow: 5px 5px 5px #000000;
    position: relative;
  
    &:hover {
      box-shadow: 2px 2px 2px yellow;
    }
  }
  
  // p {
  //   color: yellow;
  //   background-color: rgba(232, 108, 232, 0.5);
  //   border-radius: 10px;
  //   padding: 10px;
  //   margin-left: 10px;
  //   margin-right: 10px;
  //   // display: none;
  // }
  
  // h3 {
  //   width: 30px;
  //   display: none;
  // }
}

.toggleModal img {
  z-index: 9999;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

div.toggleModal img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  max-height: 35em;
  max-width: 35em;
  transform: translate(-50%, -50%);


  animation-name: fadein;
  animation-duration: .5s;
  animation-timing-function: ease;
 
 @-webkit-keyframes fadein {
  0% {opacity: 0;}
  
  100% {opacity: 1;}
 }
}

// #full-prod-img svg {
//   position: absolute;
//   top: 1em;
//   right: 2em;
//   font-size:3em;
//   color: white;
// }

// .fade-in {
//  animation-name: fadein;
//  animation-duration: .5s;
//  animation-timing-function: ease;
// }
// @-webkit-keyframes fadein {
//  0% {opacity: 0;}
 
//  100% {opacity: 1;}
// }