.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
  p {
    color: yellow;
    background-color: rgba(232, 108, 232, 0.5);
    border-radius: 10px;
  }
}

.projects img {
  max-width: 90%;
  border-radius: 0;
  border: none;
  box-shadow: 5px 5px 5px #000000;
  height: 130px;
  position: relative;

  &:hover {
    box-shadow: 2px 2px 2px yellow;
  }
}

.projects h3 {
  position: absolute;
}


// .portfolio-containers img {
//     height: 200px; 
//     position: relative;  
  
//   p {
//     display: none;
//   }

//   &:active {
//     p {
//       display: inline-block;
      
//     }
//     img {
//       display: none;
//     }
//   }
// }

// .portfolio-containers li {
//   position: absolute;
// }


// .circle-container {
//   position: relative;
//   width: 24em;
//   height: 24em;
//   padding: 2.8em;
//   border: dashed 1px;
//   border-radius: 50%;
//   margin: 1.75em auto 0;
// }

// .circle-container a {
//   display: block;
//   position: absolute;
//   top: 50%; left: 50%;
//   width: 4em; 
//   height: 4em;
//   margin: -2em;
// }
// .circle-container img { 
//   display: block; 
//   width: 100%; 
// }

// .deg0 { 
//   transform: translate(12em); 
// } 

// .deg45 { 
//   transform: rotate(45deg) translate(12em) rotate(-45deg); 
// }
// .deg135 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
// .deg180 { transform: translate(-12em); }
// .deg225 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
// .deg315 { transform: rotate(315deg) translate(12em) rotate(-315deg); }