body {
  background-color: rgb(143, 235, 143);
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 10em;

  -webkit-animation: fadein 2s; 
  -moz-animation: fadein 2s; 
  -ms-animation: fadein 2s; 
    -o-animation: fadein 2s; 
      animation: fadein 2s;

      @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    img {
      max-width: 70%;
      border-radius: 0;
      border: none;
      box-shadow: 5px 5px 5px #000000;
      position: relative;
    
      &:hover {
        max-width: 90%;

        h3 {
          display: block;
          max-width: 70%;
          text-align: center;
        }
      }
    }

    p {
      background-color: rgba(232, 108, 232, 0.5);
      border-radius: 10px;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      display: none;
    }

    a {
      display: none;
    }

    div.toggleModal {
      position: fixed;
      top: 0;
      width: 100vw;
      text-align: center;
      height: 100vh;
      background: rgba(0, 0, 0, 0.7);
      z-index: 5;
  
      img {
        display: none;
      }
  
      p {
        color: black;
        background-color: pink;
        border-radius: 0;
        padding: 70px 50px;
        margin-left: 5px;
        margin-right: 5px;
        display: block;
        width: 70%;
        margin: 0 auto;
        margin-top: 5em;
      }
  
      a {
        display: block;
        text-decoration: none;
        color: white;
        background-color: rgb(223, 68, 96);
        padding: 20px;
        width: 70%;
        margin: 0 auto;
        margin-top: 2em;

        &:hover {
          background-color: lightPink;
        }
      }
  
      h3 {
        display: none;
      }
    }
  
    footer {
      width: 100%;
      padding: 2em;
      clear: both;
    }
  
    footer h3 {
      width: 100%;
      text-align: center;
      margin-top: 0;
      margin-bottom: 2em;
    }
  
    footer a {
      text-decoration: none;
      color: black;
      position: fixed;
      bottom: 0;
    }
  
    hr { 
      border : 0;
      height: 1px; 
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
      margin: 20px 0px;
    }
}

@media only screen and (min-width: 640px) {

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;

    -webkit-animation: fadein 2s; 
    -moz-animation: fadein 2s; 
    -ms-animation: fadein 2s; 
      -o-animation: fadein 2s; 
        animation: fadein 2s;

        @keyframes fadein {
          from { opacity: 0; }
          to   { opacity: 1; }
      }

    h3 {
      display: block;
      max-width: 70%;
      text-align: center;
    }

    img {
      max-width: 70%;
      border-radius: 0;
      border: none;
      box-shadow: 5px 5px 5px #000000;
      position: relative;
    
      &:hover {
        max-width: 90%;

        h3 {
          display: block;
          max-width: 70%;
          text-align: center;
        }
      }
    }
    
    p {
      background-color: rgba(232, 108, 232, 0.5);
      border-radius: 10px;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      display: none;
    }

    a {
      display: none;
    }
  }


  div.toggleModal {
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;


    img {
      z-index: 9999;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      animation-name: fadein;
      animation-duration: .5s;
      animation-timing-function: ease;

      @-webkit-keyframes fadein {
        0% {opacity: 0;}

        100% {opacity: 1;}
      }

      &:hover {
        max-width: 70%;
      }
    }

    p {
      color: black;
      background-color: rgb(240, 240, 119);
      border-radius: 0;
      padding: 10px;
      margin-left: 10px;
      margin-right: 10px;
      display: block;
      width: 70%;
      margin: 0 auto;
      margin-top: 2em;
    }


    a {
      display: block;
      text-decoration: none;
      background-color: lightpink;
      padding: 10px;

      &:hover {
        background-color: rgb(223, 68, 96);
      }
    }

    h3 {
      display: none;
    }
  }

  footer {
    width: 100%;
    padding: 2em;
    clear: both;
  }

  footer h3 {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2em;
  }

  footer a {
    text-decoration: none;
    color: black;
    position: fixed;
    bottom: 0;
  }

  hr { 
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
    margin: 20px 0px;
  }

}