body {
  // background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;

       @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

h1 {
  text-align: center;
  font-size: 5em;
  font-style: italic;
  margin: 0 auto;
  margin-top: 2em;
}

nav {
  width: 100%;
  // border: 2px solid black;
  height: 5em;
  background-color: darkSalmon;
  position: fixed;
  top: 0;
  padding-left: 5em;
  padding-top: 1.6em;
  margin-bottom: 10px;
  box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.5);
}

nav li {
  width: 20%;
  display: inline-block;
  float: left;
}

img {
  max-width: 20%;
  border-radius: 100%;
  margin: 0 auto;
  border: 2px solid black;
}

a {
  text-decoration: none;
  color: black;
  
  &:hover {
    text-decoration: none;
    color: cornsilk;
  }
}


#icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


h3 {
  width: 2vw;
  margin: 0 auto;
  color: black;

  &:hover {
    color: darksalmon;
  }
}

  .projects {

    font-size: 2em;
  
     a:nth-child(even) {
      // color: rgb(232, 152, 12);
      color: cornsilk;
      background-color: cornsilk;
      padding: 5em 0;
      text-align: center;
      width: 100%;
      background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    

      &:hover {
        color: white;
        background-color: darkSlateGray;
        background: linear-gradient(to right, violet,indigo,blue,green,yellow,orange,red); 
      

      }
    }
  
    a:nth-child(odd) {
      color: cornsilk;
      background-color: rgb(232, 152, 12);
      padding: 5em 0;
      text-align: center;
      width: 100%;
      // background: linear-gradient(to right, violet,indigo,blue,green,yellow,orange,red); 
      background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
      
    

      &:hover {
        color: white;
        background-color: darkSlateGray;
      //  background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
       background: linear-gradient(to right, violet,indigo,blue,green,yellow,orange,red); 
       
      }
    }

  }

  p {
    margin-top: 20px;
    background-color: rgba(255, 248, 220, 0.5);
    color: darkSlateGray;
    padding: 10px;
  }

  li {
    display: inline-block;
  }

  #about, #contact {
    padding: 5em 0;

    // -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    // -moz-animation: fadein 2s; /* Firefox < 16 */
    //  -ms-animation: fadein 2s; /* Internet Explorer */
    //   -o-animation: fadein 2s; /* Opera < 12.1 */
    //      animation: fadein 2s;
  
    //      @keyframes fadein {
    //       from { opacity: 0; }
    //       to   { opacity: 1; }
    //   }
    
  }

  #about, h2 {
    text-align: center;
  }

  hr { 
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
    margin: 20px 0px;
  }

  #portfolio>a {
    padding-top: 20px;
    float: left;
    width: 20%;
    font-size: 20px;
    height: 500px;
  }

  #skills a {
    float: left;
    width: 10%;
    font-size: 20px;
  }

 
  