
// div {
//   height: 100%;
// }

// nav li {
//   display: none;
// }

#hamburger {
  display: block;
  width: 80px;

  &:hover {
    color: pink;
  }
}

.toggleHamburger {

  .links {
    display: inline-block;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: black;
    background-color: lightblue;
    padding: 10px;
    border-bottom: 2px solid black;
    width: 100%;
    
    &:hover {
      background-color: pink;
    }
  }

  #first {
    border-top: 2px solid black;
  }
}

// #logo {
//   float: none;
//   margin: 0 auto;
//   max-width: 40%;
//   border: 2px solid;
//   border-radius: 20px;
//   margin-top: 20px;
// }

// Desktop Version

@media only screen and (min-width: 640px) {

//   div {
//     height: 100%;
//   }

  #hamburger {
    display: none;
  }

//   nav {
//     width: 100%;
//     height: 5em;
//     padding-top: 1.6em;
//     margin-bottom: 10px;
//     text-align: center;
//   }
  
//   nav li {
//     width: 15%;
//     display: inline-block;
//   }
  
//   li .nav {
//     text-decoration: none;
//     color: white;
//     font-size: 2em;
//     border: none;
  
//     &:hover {
//       color: pink;
//       text-shadow: 0 0 4px #FFFFFF;
//     }
  
//     &:active {
//       transform: translateY(1px);
//     }
//   }

//   #first {
//     border-top: none;
//   }
// }


  #logo {
    float: none;
    margin: 0 auto;
    max-width: 40%;
    border: 2px solid;
    border-radius: 15px;
    margin-top: 3em;
    background-color: lightPink;
  }
}