body {  
  // background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;

       @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

h1 {
  text-align: center;
  font-size: 5em;
  font-style: italic;
  margin: 0 auto;
  margin-top: 1em;
}

// #img {
//   background-image: url('../../assets/catherine.jpg');
//   height: 500px;
//   max-width: 100%;
  
// }

nav {
  width: 100%;
  // border: 2px solid black;
  height: 5em;
  background-color: darkSalmon;
  position: fixed;
  top: 0;
  padding-left: 5em;
  padding-top: 1.6em;
  margin-bottom: 10px;
  box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.5);
}

nav li {
  width: 20%;
  display: inline-block;
  float: left;
}

#catherine-image {
  max-width: 20%;
  border-radius: 100%;
  margin: 0 auto;
  box-shadow: 10px 5px 5px rgba(10, 10, 10, 0.5);
  margin-bottom: 20px;
  
}

a {
  text-decoration: none;
  color: black;
  
  &:hover {
    text-decoration: none;
    color: cornsilk;
  }
}

.projects a {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  width: 15%;
  background-color: darksalmon;
  text-align: center;
}


#icons {
  display: inline-block;
  margin-bottom: 20px;
  width: 2vw;
  margin: 0 auto;
  color: black;
  text-align: center;

  &:hover {
    color: darksalmon;
  }
}

 #skills {

    font-size: 2em;
  
     a:nth-child(even) {
      float: left;
      width: 10%;
      font-size: 20px;
      margin-bottom: 20px;
      color: cornsilk;
      background-color: cornsilk;
      padding: 5em 0;
      text-align: center;
      // width: 100%;
      background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    

      &:hover {
        color: white;
        background-color: darkSlateGray;
        background: linear-gradient(to right, violet,indigo,blue,green,yellow,orange,red); 
      

      }
    }
  
    a:nth-child(odd) {
      float: left;
      width: 10%;
      font-size: 20px;
      margin-bottom: 20px;
      color: cornsilk;
      background-color: rgb(232, 152, 12);
      padding: 5em 0;
      text-align: center;
      // width: 100%;
      background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
      
    

      &:hover {
        color: white;
        background-color: darkSlateGray;
       background: linear-gradient(to right, violet,indigo,blue,green,yellow,orange,red); 
       
      }
    }

  }

  p {
    margin-top: 20px;
    background-color: rgba(255, 248, 220, 0.5);
    color: darkSlateGray;
    padding: 10px;
  }

  li {
    display: inline-block;
  }

#about, #contact {
  padding: 5em 0;
  
}

#contact a:hover {
  color: salmon;
}

#about, h2 {
  text-align: center;
  font-size: 20px;
}

hr { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
  margin: 20px 0px;
}

#portfolio>a {
  padding-top: 20px;
  float: left;
  width: 20%;
  font-size: 20px;
  height: 500px;
  overflow: scroll;
  margin-bottom: 20px;
  // display: none;

  // &:hover {
  //   display: inline-block;
  // }

}

// #skills a {
//   float: left;
//   width: 10%;
//   font-size: 20px;
//   margin-bottom: 20px;
//   // text-shadow: 2px 2px rgb(4, 4, 4);
// }
  
footer {
  width: 100%;
  background-color: darkSlateGray;
  padding: 2em;
  clear: both;
}

footer h3 {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2em;
  color: cornsilk;
}

// #contact {
//   width: 100%;
//   background-color: cornsilk;
// }

// #contact a h3{
//   width: 20%;
//   background-color: cornsilk; 
//   border-radius: 50%;
//   display: inline-block;
//   margin: 0 auto;    
//   float: left;
//   color: black;
// }


#contact li {
  text-align: center;
  font-size: 20px;
  margin-top: 2em;
}

body, html {
  height: 100%;
}

.parallax { 

  height: 350px;
  
  background-image: url("../../assets/color-block.png");

  // height: 100%; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-containers {
  img {
    height: 200px;    
  }
  p {
    display: none;
  }

  &:hover {
    p {
      display: inline-block;
      
    }
    img {
      display: none;
    }
  }
}
